body{
    text-align: center;
    padding-top: 50px;
    margin-top: 2em;
    background-color: hsl(247, 67%, 75%);
    border: auto;
}

form{
    background-color: hsl(194, 75%, 66%);
    max-width: 350px;
    margin: auto;
    margin-top: 2em;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid black;

    
}

#textbox{
    background-color: hsl(240, 8%, 62%);
}

#sbutton{
    background-color: hsl(60, 52%, 61%);
    cursor: pointer;
}

#textbox {
    padding: 8px;
    border-radius: 5px;
    border: none;
}

#sbutton {
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
}

